body {
  background: #ffffff;
}

.col-md-12 {
}

h1 {
  text-align: center;
}

.contact {
  background: #ffffff;
  height: 600px;
  width: 500px;
  border: solid;
  margin: 0 auto;
}

.form-group {
  text-align: center;
}

#id {
  padding: 20px;
}

.button {
  padding-top: 10px;
}

.navbarbrand {
  text-align: center;
  margin: 0 auto;
}
