body {
  background-color: #ffffff;
}

nav {
  font-family: "Georgia", Times, "Times New Roman", serif;
}

h1 {
  text-align: center;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-body {
  margin: 0 auto;
  text-align: center;
}

.text {
  float: left;
}

.navbarbrand {
  text-align: center;
  margin: 0 auto;
}

p {
  float: right;
}
